.navApp {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #0000004a;
    ;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo img {
    object-fit: none;
    margin-left: 1rem;
}

.logo p {
    margin: 0 0 0 1rem;
    font-size: 1.7rem;
}